
<nav  class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"  ><a>Home</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><span class="glyphicon glyphicon-log-in" (click)="logOut()"> LogOut</span></li>
    </ul>
  </div>
</nav>

<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">  <strong>{{currentUser.fullName}}</strong>, Welcome to your app </h1>
    <p class="lead"> welcome to your profile
    </p>
    <div class="row">




    </div>
  </header>

  <button (click)="testIfCookieIsSent()">Test if the cookie is sent</button>
</div>





